body {
    background-color: rgb(3, 52, 85);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(131, 226, 255);
    font-size: large;
    }
    
    /* body {
        background-color: rgb(3, 52, 85);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(131, 226, 255);
        font-size: large;
        } */